html,body{height:100%;}
body{margin:0;padding:0;background:#fff;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,figure{border:0;font-style:normal;text-align:left;margin:0;outline:0;padding:0;font-family:"\5FAE\8F6F\96C5\9ED1","SimSun","Arial","san-serif";font-size:12px;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
input,textarea,button,select{margin:0;padding:0;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{text-decoration:none;color:#333;outline:none;cursor:pointer;}
a:hover{text-decoration:underline;color:#28a879;}
button{cursor:pointer;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
ol,ul{list-style:none;}
img{border:0;}
.fr{float:right;}
.fl{float:left;}
.cl{zoom:1;}
.cl:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
html,html body{_background-image:url(about:blank);_background-attachment:fixed}
.pages {
text-align: right;
font-size: 14px;
line-height: 22px;
height: 24px;
margin: 20px;
color: #595959;
float:right;
width:800px;

}

.pages a {
text-decoration: none;
display: inline-block;
text-align: center;
border: 1px solid #ddd;
padding: 0 8px;
margin-right:5px;
}

.pages a:hover {
border: 1px solid #28a879;
text-decoration: none;
}
.pages a.selected{
background: #28a879;
color: #fff;
border: 1px solid #28a879;
text-decoration: none;
}

.hidden{ display: none; }