#set($title="报名系统-核对信息")

#extends("/page/layout/newsingle.vm")
	#block("breadcrumb")

	#end
	#block("main")
		#widget("/widget/checkInfo/view/view.vm")
	#end

	#require("./checkInfo.vm")

	#script()
		//console.log('tplData',$jello.jsonEncode($tplData));
		var app = require("/widget/checkInfo/view/view.js");
		app.init($jello.jsonEncode($tplData),$jello.jsonEncode($tplData.userlist));
		window.app = app;
	#end

#end
