#set($title="报名系统-登录")

#extends("/page/layout/newsingle.vm")
	#block("breadcrumb")

	#end
	#block("main")
		#widget("/widget/signIn/view/view.vm")
	#end

	#require("./signIn.vm")

	#script()
		//console.log('tplData',$jello.jsonEncode($tplData));
		var app = require("/widget/signIn/view/view.js");
		app.init();
		window.app = app;
	#end

#end
