.header {
    background: #003366;
    background: url("/static/image/navbg.png") no-repeat center;
    background-size: cover;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
    .logo {
        display: inline-block;
        background: url("/static/image/logo.png") no-repeat center;
        vertical-align: middle;
        width: 417px;
        height: 117px;
    }
    .logo_guide {
        display: inline-block;
        background: url("/static/image/logog.png") no-repeat center;
        vertical-align: middle;
        width: 286px;
        height: 117px;
    }
}
