#extends("base_new.vm")
	#block("body")

			#block("header")
				#widget("/widget/comm/header/header.vm")
			#end
			#block("breadcrumb")
				Here is breadcrumb content.
			#end
			<div class="work-block">
				<div class="main-block">
					#block("main")
						Here is main content.
					#end
				</div>


			</div>
			#block("footer")
				#widget("/widget/comm/footer/footer.vm")
			#end
		#require("./newsingle.vm")
		#require("/static/base/base.less")
		
	#end
#end
