#set($title="山西报名系统")

#extends("/page/layout/guidelay.vm")
	#block("breadcrumb")

	#end
	#block("main")
		#widget("/widget/guide/view/view.vm")
	#end

	#require("./guide.vm")

	#script()

		var app = require("/widget/guide/view/view.js");
		app.init();
		window.app = app;
	#end

#end
