<!--<div class="sign-block">-->

  <!--<p class="title">-->
  <!--请输入报名信息-->
  <!--</p>-->
  <!--<div ms-controller="signform" class="form-block">-->
    <!--<form >-->
      <!--<div class="input-group">-->
          <!--<p>-->
          <!--<input class ="signform-activecode" ms-duplex="@activecode" placeholder="激活码"-->
                    <!--ms-rules='{required:true,maxlength:50}' >-->
          <!--</p>-->
          <!--<p>-->
          <!--<input type="text"  class ="signform-cnname" placeholder="姓名"-->
                    <!--ms-rules='{required:true,maxlength:50}'-->
                    <!--ms-duplex="@cnname"-->
                    <!--data-required-message="请输入您的名字" />-->
          <!--</p>-->
          <!--<p>-->
          <!--<input class ="signform-mobile" type="text"  placeholder="手机号"-->
                    <!--ms-rules='{required:true}'-->
                    <!--ms-duplex="@mobile | debounce(200)" />-->
          <!--</p>-->
          <!--<p class="validcode-block">-->
          <!--<input class="validcode signform-code" type="text"   placeholder="短信验证码"-->
                    <!--ms-rules='{required:true}'-->
                    <!--ms-duplex="@mobileverifycode" />-->
                    <!--<span class="button" ms-click="@sendMobileverifycode">{{@buttonText}}</span>-->
          <!--</p>-->
          <!--<p>-->
          <!--<input type="text" class ="signform-idcard"-->
                 <!--ms-rules="{required:true}" placeholder="身份证号"-->
                 <!--ms-duplex="@idcard | debounce(200)" />-->
          <!--</p>-->
      <!--</div>-->
      <!--<div class="validate-tip"  ms-css="{visibility: @visibility}">-->
        <!--提示：{{@validateTip}}-->
      <!--</div>-->
      <!--<div class="button-group">-->
          <!--<p>-->
          <!--<input class="submit" type="button" ms-click="@submitNext" value="下一步"/>-->
          <!--</p>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  <!--<div style="color:#1203af;text-align:center;margin:30px;">-->
  <!--提示：如遇到文字显示不正常，推荐您使用chrome，360极速或者ie9以上浏览器重试-->
  <!--</div>-->
<!--</div>-->

<div id="signIn-block">

</div>
